<p>Hi! This is a Baseball Application I wrote using Ruby on Rails & Javascript. Pitch F/x Data is happily scraped by Jeff Zimmerman and the folks at <a href="http://www.baseballheatmaps.com/">Baseball Heatmaps</a>. Source Code can be found at my Github account <a href="https://www.github.com/jrmils89">here</a>. Rock on!</a></p>
