<div style="text-align:center;">
	<h1>Baseball Application</h1>
	<p>Hi! This is a Baseball Application I wrote using Ruby on Rails & Javascript. Pitch F/x Data is happily scraped by Jeff Zimmerman and the folks at <a href="http://www.baseballheatmaps.com/">Baseball Heatmaps</a>. Source Code can be found at my Github account <a href="https://www.github.com/jrmils89">here</a>. Rock on!</a></p>
	<p>Heatmap Library Courtesy Of <a href="http://www.patrick-wied.at/static/heatmapjs/">Patrick Wied</a></br>CSS Template Courtesy Of <a href="http://majuter.us">Majuterus</a></p>
</div>
