<div style="text-align:center;">
    <h1>Baseball Application</h1>
    <p>Hi! This is a Baseball Application I wrote using Ruby on Rails & Javascript. Pitch F/x Data is happily scraped by Jeff Zimmerman and the folks at <a href="http://www.baseballheatmaps.com/">Baseball Heatmaps</a>. Source Code can be found at my Github account <a href="https://github.com/jrmils89/BaseballApplication">here</a>
    </p>
    <p> This is certainly a work-in-progress site. I don't know that I'll actually have a lot of time to devote to it, but here it is for now. Really the only thing that it does right now is under the heatmaps tab, feel free to play around with it!
    </p>
    <p> Disclaimer: This is *NOT* running production level anything. Apologies for data being out of date and slow loading pages. </p>
    <p>Heatmap Library Courtesy Of <a href="http://www.patrick-wied.at/static/heatmapjs/">Patrick Wied</a>
        </br>CSS Template Courtesy Of <a href="http://majuter.us">Majuterus</a>
    </p>
</div>