<div id="heatmapContainer">
    <%= javascript_tag do %>
    // create configuration object
var config = {
  container: document.getElementById('heatmapContainer'),
  radius: 20,
  maxOpacity: .5,
  minOpacity: 0,
  gradient:{ 0.333: "#0000FF", 0.600: "#00FFFF", 0.800: "#00FF00", 0.933: "#FFFF00", 1.0: "#FF0000"},
};
// create heatmap with configuration
var heatmapInstance = h337.create(config);


var data = {
  max: 2.1,
  min: 0,
  data: [
	{x: 174, y:286, value:2.1},
	{x: 113, y:252, value:2.1},
	{x: 165, y:200, value:2.1},
	{x: 165, y:178, value:2.1},
	{x: 100, y:325, value:2.1},
	{x: 60, y:343, value:2.1},
	{x: 184, y:243, value:2.1},
	{x: 186, y:353, value:2.1},
	{x: 238, y:309, value:2.1},
	{x: 64, y:210, value:2.1},
	{x: 200, y:249, value:2.1},
	{x: 158, y:146, value:2.1},
	{x: 193, y:329, value:2.1},
	{x: 197, y:346, value:2.1},
	{x: 95, y:217, value:2.1},
	{x: 205, y:305, value:2.1},
	{x: 72, y:246, value:2.1},
	{x: 80, y:143, value:2.1},
	{x: 210, y:244, value:2.1},
	{x: 76, y:364, value:2.1},
	{x: 220, y:279, value:2.1},
	{x: 112, y:240, value:2.1},
	{x: 232, y:330, value:2.1},
	{x: 222, y:212, value:2.1},
	{x: 209, y:250, value:2.1},
	{x: 149, y:223, value:2.1},
	{x: 63, y:209, value:2.1},
	{x: 56, y:159, value:2.1},
	{x: 176, y:394, value:2.1},
	{x: 208, y:254, value:2.1},
	{x: 146, y:152, value:2.1},
	{x: 54, y:368, value:2.1},
	{x: 99, y:145, value:2.1},
	{x: 149, y:392, value:2.1},
	{x: 98, y:356, value:2.1},
	{x: 66, y:265, value:2.1},
	{x: 217, y:237, value:2.1},
	{x: 213, y:225, value:1.62},
	{x: 62, y:230, value:1.62},
	{x: 61, y:157, value:1.62},
	{x: 178, y:199, value:1.62},
	{x: 244, y:225, value:1.62},
	{x: 191, y:139, value:1.27},
	{x: 156, y:397, value:1.27},
	{x: 123, y:330, value:1.27},
	{x: 134, y:357, value:1.27},
	{x: 213, y:348, value:1.27},
	{x: 56, y:362, value:1.27},
	{x: 100, y:127, value:1.27},
	{x: 134, y:277, value:1.27},
	{x: 184, y:123, value:1.27},
	{x: 67, y:382, value:1.27},
	{x: 113, y:382, value:1.27},
	{x: 73, y:252, value:1.27},
	{x: 239, y:316, value:1.27},
	{x: 94, y:181, value:1.27},
	{x: 134, y:369, value:1.27},
	{x: 119, y:277, value:1.27},
	{x: 54, y:251, value:1.27},
	{x: 144, y:384, value:1.27},
	{x: 61, y:285, value:1.27},
	{x: 61, y:196, value:1.27},
	{x: 105, y:377, value:1.27},
	{x: 200, y:229, value:1.27},
	{x: 141, y:113, value:1.27},
	{x: 173, y:274, value:1.27},
	{x: 250, y:116, value:1.27},
	{x: 249, y:120, value:1.27},
	{x: 52, y:208, value:1.27},
	{x: 245, y:227, value:1.27},
	{x: 87, y:272, value:1.27},
	{x: 243, y:178, value:1.27},
	{x: 151, y:262, value:1.27},
	{x: 136, y:316, value:1.27},
	{x: 113, y:298, value:1.27},
	{x: 205, y:222, value:1.27},
	{x: 241, y:245, value:1.27},
	{x: 163, y:209, value:1.27},
	{x: 149, y:240, value:1.27},
	{x: 182, y:274, value:0.89},
	{x: 152, y:309, value:0.89},
	{x: 211, y:177, value:0.89},
	{x: 105, y:319, value:0.89},
	{x: 117, y:126, value:0.89},
	{x: 50, y:354, value:0.89},
	{x: 139, y:330, value:0.89},
	{x: 184, y:337, value:0.89},
	{x: 151, y:216, value:0.89},
	{x: 96, y:252, value:0.89},
	{x: 103, y:361, value:0.89},
	{x: 65, y:300, value:0.89},
	{x: 118, y:347, value:0.89},
	{x: 169, y:233, value:0.89},
	{x: 78, y:361, value:0.89},
	{x: 67, y:241, value:0.89},
	{x: 116, y:400, value:0.89},
	{x: 92, y:271, value:0.89},
	{x: 205, y:297, value:0.89},
	{x: 152, y:396, value:0.89},
	{x: 61, y:258, value:0.89},
	{x: 81, y:325, value:0.89},
	{x: 66, y:303, value:0.89},
	{x: 140, y:360, value:0.89},
	{x: 194, y:138, value:0.89},
	{x: 181, y:212, value:0.89},
	{x: 75, y:183, value:0.89},
	{x: 171, y:315, value:0.89},
	{x: 184, y:184, value:0.89},
	{x: 222, y:194, value:0.89},
	{x: 230, y:390, value:0.89},
	{x: 86, y:315, value:0.89},
	{x: 119, y:161, value:0.89},
	{x: 188, y:232, value:0.89},
	{x: 115, y:288, value:0.89},
	{x: 122, y:329, value:0.89},
	{x: 198, y:174, value:0.89},
	{x: 152, y:119, value:0.89},
	{x: 198, y:260, value:0.89},
	{x: 78, y:373, value:0.89},
	{x: 219, y:133, value:0.89},
	{x: 163, y:126, value:0.89},
	{x: 91, y:185, value:0.89},
	{x: 225, y:201, value:0.89},
	{x: 218, y:145, value:0.89},
	{x: 178, y:372, value:0.89},
	{x: 148, y:357, value:0.89},
	{x: 55, y:399, value:0.89},
	{x: 119, y:173, value:0.89},
	{x: 146, y:257, value:0.89},
	{x: 169, y:298, value:0.89},
	{x: 242, y:313, value:0.89},
	{x: 117, y:144, value:0.89},
	{x: 104, y:237, value:0.89},
	{x: 241, y:332, value:0.89},
	{x: 98, y:321, value:0.89},
	{x: 197, y:289, value:0.89},
	{x: 111, y:342, value:0.89},
	{x: 247, y:351, value:0.89},
	{x: 166, y:332, value:0.89},
	{x: 183, y:276, value:0.89},
	{x: 170, y:275, value:0.89},
	{x: 196, y:199, value:0.89},
	{x: 140, y:204, value:0.89},
	{x: 199, y:340, value:0.89},
	{x: 120, y:135, value:0.89},
	{x: 197, y:299, value:0.89},
	{x: 225, y:217, value:0.89},
	{x: 181, y:128, value:0.89},
	{x: 248, y:363, value:0.89},
	{x: 162, y:146, value:0.89},
	{x: 186, y:154, value:0.89},
	{x: 85, y:180, value:0.89},
	{x: 66, y:378, value:0.89},
	{x: 162, y:326, value:0.89},
	{x: 145, y:191, value:0.89},
	{x: 157, y:335, value:0.89},
	{x: 239, y:158, value:0.89},
	{x: 170, y:104, value:0.89},
	{x: 68, y:190, value:0.89},
	{x: 107, y:314, value:0.89},
	{x: 118, y:310, value:0.89},
	{x: 197, y:183, value:0.89},
	{x: 177, y:118, value:0.89},
	{x: 223, y:248, value:0.89},
	{x: 174, y:294, value:0.89},
	{x: 131, y:365, value:0.89},
	{x: 222, y:191, value:0.89},
	{x: 235, y:394, value:0.89},
	{x: 202, y:268, value:0.89},
	{x: 243, y:256, value:0.89},
	{x: 228, y:267, value:0.89},
	{x: 64, y:251, value:0.89},
	{x: 62, y:188, value:0.89},
	{x: 114, y:274, value:0.89},
	{x: 67, y:102, value:0.89},
	{x: 231, y:400, value:0.89},
	{x: 186, y:139, value:0.89},
	{x: 109, y:190, value:0.89},
	{x: 75, y:388, value:0.89},
	{x: 214, y:285, value:0.89},
	{x: 182, y:142, value:0.89},
	{x: 144, y:189, value:0.89},
	{x: 163, y:127, value:0.89},
	{x: 106, y:106, value:0.89},
	{x: 205, y:318, value:0.89},
	{x: 250, y:162, value:0.89},
	{x: 246, y:173, value:0.89},
	{x: 232, y:334, value:0.89},
	{x: 230, y:268, value:0.89},
	{x: 69, y:340, value:0.89},
	{x: 109, y:126, value:0},
	{x: 220, y:389, value:0},
	{x: 181, y:270, value:0},
	{x: 221, y:358, value:0},
	{x: 222, y:195, value:0},
	{x: 72, y:273, value:0},
	{x: 65, y:161, value:0},
	{x: 244, y:159, value:0},
	{x: 143, y:385, value:0},
	{x: 236, y:175, value:0},
	{x: 119, y:258, value:0},
	{x: 82, y:214, value:0},
	{x: 52, y:258, value:0},
	{x: 201, y:233, value:0},
	{x: 179, y:309, value:0},
	{x: 79, y:384, value:0},
	{x: 234, y:159, value:0},
	{x: 213, y:103, value:0},
	{x: 196, y:164, value:0},
	{x: 94, y:196, value:0},
	{x: 167, y:196, value:0},
	{x: 217, y:189, value:0},
	{x: 142, y:188, value:0},
	{x: 162, y:369, value:0},
	{x: 173, y:289, value:0},
	{x: 87, y:151, value:0},
	{x: 206, y:327, value:0},
	{x: 182, y:281, value:0},
	{x: 63, y:100, value:0},
	{x: 149, y:285, value:0},
	{x: 227, y:377, value:0},
	{x: 191, y:286, value:0},
	{x: 134, y:135, value:0},
	{x: 196, y:346, value:0},
	{x: 77, y:348, value:0},
	{x: 236, y:141, value:0},
	{x: 141, y:178, value:0},
	{x: 219, y:295, value:0},
	{x: 99, y:207, value:0},
	{x: 72, y:195, value:0},
	{x: 89, y:141, value:0},
	{x: 74, y:230, value:0},
	{x: 196, y:332, value:0},
	{x: 93, y:357, value:0},
	{x: 55, y:164, value:0},
	{x: 103, y:159, value:0},
	{x: 156, y:239, value:0},
	{x: 188, y:257, value:0},
	{x: 172, y:149, value:0},
	{x: 148, y:289, value:0},
	{x: 168, y:224, value:0},
	{x: 215, y:216, value:0},
	{x: 153, y:368, value:0},
	{x: 90, y:261, value:0},
	{x: 108, y:173, value:0},
	{x: 237, y:339, value:0},
	{x: 133, y:312, value:0},
	{x: 115, y:320, value:0},
	{x: 100, y:165, value:0},
	{x: 228, y:197, value:0},
	{x: 94, y:347, value:0},
	{x: 180, y:305, value:0},
	{x: 157, y:258, value:0},
	{x: 202, y:270, value:0},
	{x: 80, y:382, value:0},
	{x: 90, y:389, value:0},
	{x: 207, y:346, value:0},
	{x: 192, y:133, value:0},
	{x: 195, y:330, value:0},
	{x: 143, y:150, value:0},
	{x: 95, y:206, value:0},
	{x: 228, y:190, value:0},
	{x: 228, y:222, value:0},
	{x: 201, y:167, value:0},
	{x: 70, y:277, value:0},
	{x: 53, y:291, value:0},
	{x: 108, y:137, value:0},
	{x: 248, y:291, value:0},
	{x: 62, y:101, value:0},
	{x: 121, y:162, value:0},
	{x: 113, y:140, value:0},
	{x: 226, y:245, value:0},
	{x: 108, y:342, value:0},
	{x: 248, y:400, value:0},
	{x: 226, y:297, value:0},
	{x: 133, y:326, value:0},
	{x: 67, y:284, value:0},
	{x: 152, y:188, value:0},
	{x: 107, y:193, value:0},
	{x: 123, y:160, value:0},
	{x: 243, y:318, value:0},
	{x: 54, y:204, value:0},
	{x: 172, y:151, value:0},
	{x: 81, y:162, value:0},
	{x: 168, y:182, value:0},
	{x: 171, y:106, value:0},
	{x: 57, y:294, value:0},
	{x: 230, y:198, value:0},
	{x: 50, y:238, value:0},
	{x: 199, y:336, value:0},
	{x: 123, y:157, value:0},
	{x: 62, y:119, value:0},
	{x: 159, y:267, value:0},
	{x: 105, y:135, value:0},
	{x: 156, y:339, value:0},
	{x: 240, y:345, value:0},
	{x: 79, y:166, value:0},
	{x: 75, y:265, value:0},
	{x: 152, y:188, value:0},
	{x: 112, y:230, value:0},
	{x: 88, y:146, value:0},
	{x: 165, y:341, value:0},
	{x: 116, y:347, value:0},
	{x: 146, y:346, value:0},
	{x: 138, y:393, value:0},
	{x: 246, y:392, value:0},
	{x: 83, y:224, value:0},
	{x: 179, y:317, value:0},
	{x: 170, y:354, value:0},
	{x: 218, y:383, value:0},
	{x: 69, y:111, value:0},
	{x: 190, y:118, value:0},
	{x: 239, y:190, value:0},
	{x: 59, y:380, value:0},
	{x: 112, y:179, value:0},
	{x: 54, y:337, value:0},
	{x: 227, y:296, value:0},
	{x: 227, y:272, value:0},
	{x: 209, y:111, value:0},
	{x: 131, y:291, value:0},
	{x: 68, y:378, value:0},
	{x: 89, y:315, value:0},
	{x: 155, y:107, value:0},
	{x: 144, y:262, value:0},
	{x: 60, y:267, value:0},
	{x: 102, y:114, value:0},
	{x: 142, y:153, value:0},
	{x: 120, y:240, value:0},
	{x: 93, y:392, value:0},
	{x: 140, y:386, value:0},
	{x: 247, y:148, value:0},
	{x: 69, y:305, value:0},
	{x: 91, y:234, value:0},
	{x: 77, y:306, value:0},
	{x: 201, y:135, value:0},
	{x: 71, y:304, value:0},
	{x: 236, y:182, value:0},
	{x: 226, y:366, value:0},
	{x: 102, y:386, value:0},
	{x: 153, y:352, value:0},
	{x: 72, y:245, value:0},
	{x: 228, y:215, value:0},
	{x: 174, y:159, value:0},
	{x: 130, y:315, value:0},
	{x: 181, y:374, value:0},
	{x: 188, y:325, value:0},
	{x: 209, y:370, value:0},
	{x: 135, y:220, value:0},
	{x: 64, y:236, value:0},
	{x: 214, y:341, value:0},
	{x: 53, y:227, value:0},
	{x: 88, y:314, value:0},
	{x: 111, y:390, value:0},
	{x: 229, y:399, value:0},
	{x: 183, y:319, value:0},
	{x: 86, y:180, value:0},
	{x: 109, y:305, value:0},
	{x: 138, y:248, value:0},
	{x: 130, y:174, value:0},
	{x: 132, y:376, value:0},
	{x: 150, y:224, value:0},
	{x: 55, y:280, value:0},
	{x: 195, y:373, value:0},
	{x: 232, y:181, value:0},
	{x: 235, y:204, value:0},
	{x: 97, y:334, value:0},
	{x: 122, y:283, value:0},
	{x: 103, y:172, value:0},
	{x: 79, y:224, value:0},
	{x: 64, y:147, value:0},
	{x: 134, y:179, value:0},
	{x: 214, y:108, value:0},
	{x: 238, y:350, value:0},
	{x: 248, y:152, value:0},
	{x: 117, y:251, value:0},
	{x: 224, y:272, value:0},
	{x: 157, y:343, value:0},
	{x: 96, y:378, value:0},
	{x: 153, y:275, value:0},
	{x: 213, y:301, value:0},
	{x: 106, y:169, value:0},
	{x: 247, y:143, value:0},
	{x: 131, y:228, value:0},
	{x: 93, y:287, value:0},
	{x: 199, y:174, value:0},
	{x: 139, y:125, value:0},
	{x: 58, y:384, value:0},
	{x: 107, y:243, value:0},
	{x: 237, y:255, value:0},
	{x: 207, y:275, value:0},
	{x: 94, y:349, value:0},
	{x: 196, y:223, value:0},
	{x: 233, y:197, value:0},
	{x: 196, y:204, value:0},
	{x: 169, y:353, value:0},
	{x: 224, y:314, value:0},
	{x: 226, y:154, value:0},
	{x: 51, y:195, value:0},
	{x: 187, y:130, value:0},
	{x: 192, y:396, value:0},
	{x: 148, y:295, value:0},
	{x: 74, y:393, value:0},
	{x: 74, y:193, value:0},
	{x: 74, y:224, value:0},
	{x: 201, y:348, value:0},
	{x: 215, y:249, value:0},
	{x: 66, y:188, value:0},
	{x: 78, y:155, value:0},
	{x: 114, y:209, value:0},
	{x: 209, y:363, value:0},
	{x: 161, y:360, value:0},
	{x: 166, y:258, value:0},
	{x: 142, y:208, value:0},
	{x: 162, y:320, value:0},
	{x: 207, y:279, value:0},
	{x: 186, y:157, value:0},
	{x: 84, y:385, value:0},
	{x: 60, y:316, value:0},
	{x: 219, y:197, value:0},
	{x: 145, y:116, value:0},
	{x: 77, y:379, value:0},
	{x: 135, y:260, value:0},
	{x: 136, y:147, value:0},
	{x: 193, y:197, value:0},
	{x: 65, y:313, value:0},
	{x: 145, y:206, value:0},
	{x: 139, y:255, value:0},
	{x: 214, y:261, value:0},
	{x: 164, y:232, value:0},
	{x: 232, y:134, value:0},
	{x: 248, y:366, value:0},
	{x: 107, y:162, value:0},
	{x: 217, y:161, value:0},
	{x: 86, y:382, value:0},
	{x: 123, y:102, value:0},
	{x: 65, y:166, value:0},
	{x: 139, y:195, value:0},
	{x: 201, y:105, value:0},
	{x: 230, y:110, value:0},
	{x: 106, y:149, value:0},
	{x: 160, y:336, value:0},
	{x: 187, y:152, value:0},
	{x: 119, y:237, value:0},
	{x: 214, y:211, value:0},
	{x: 211, y:223, value:0},
	{x: 224, y:309, value:0},
	{x: 119, y:178, value:0},
	{x: 86, y:278, value:0},
	{x: 100, y:362, value:0},
	{x: 157, y:344, value:0},
	{x: 217, y:370, value:0},
	{x: 102, y:322, value:0},
	{x: 248, y:359, value:0},
	{x: 234, y:182, value:0},
	{x: 126, y:160, value:0},
	{x: 203, y:366, value:0},
	{x: 230, y:309, value:0},
	{x: 118, y:281, value:0},
	{x: 100, y:157, value:0},
	{x: 91, y:101, value:0},
	{x: 231, y:222, value:0},
	{x: 82, y:187, value:0},
	{x: 130, y:148, value:0},
	{x: 215, y:377, value:0},
	{x: 80, y:335, value:0},
	{x: 117, y:221, value:0},
	{x: 168, y:359, value:0},
	{x: 166, y:353, value:0},
	{x: 200, y:196, value:0},
	{x: 95, y:382, value:0},
	{x: 161, y:356, value:0},
	{x: 240, y:300, value:0},
	{x: 155, y:117, value:0},
	{x: 191, y:391, value:0},
	{x: 217, y:257, value:0},
	{x: 65, y:303, value:0},
	{x: 90, y:216, value:0},
	{x: 195, y:305, value:0},
	{x: 88, y:250, value:0},
	{x: 230, y:186, value:0},
	{x: 73, y:375, value:0},
	{x: 239, y:388, value:0},
	{x: 53, y:254, value:0},
	{x: 62, y:154, value:0},
	{x: 209, y:108, value:0},
	{x: 224, y:260, value:0},
	{x: 81, y:246, value:0},
	{x: 184, y:238, value:0},
	{x: 71, y:174, value:0},
	{x: 145, y:341, value:0},
	{x: 195, y:154, value:0},
	{x: 210, y:200, value:0},
	{x: 136, y:280, value:0},
	{x: 176, y:156, value:0},
	{x: 65, y:297, value:0},
	{x: 181, y:164, value:0},
	{x: 173, y:328, value:0},
	{x: 70, y:328, value:0},
	{x: 64, y:179, value:0},
	{x: 58, y:106, value:0},
	{x: 120, y:136, value:0},
	{x: 166, y:259, value:0},
	{x: 79, y:257, value:0},
	{x: 60, y:275, value:0},
	{x: 71, y:198, value:0},
	{x: 240, y:393, value:0},
	{x: 51, y:340, value:0},
	{x: 64, y:365, value:0},
	{x: 242, y:392, value:0},
	{x: 175, y:382, value:0},
	{x: 228, y:162, value:0},
	{x: 193, y:180, value:0},
	{x: 175, y:104, value:0},
	{x: 203, y:242, value:0},
	{x: 108, y:293, value:0},
	{x: 132, y:282, value:0},
	{x: 68, y:361, value:0},
	{x: 208, y:187, value:0},
	{x: 145, y:253, value:0},
	{x: 64, y:244, value:0},
	{x: 103, y:314, value:0},
	{x: 187, y:342, value:0},
	{x: 244, y:225, value:0},
	{x: 195, y:395, value:0},
	{x: 240, y:233, value:0},
	{x: 154, y:383, value:0},
	{x: 62, y:308, value:0},
	{x: 105, y:267, value:0},
	{x: 72, y:227, value:0},
	{x: 217, y:246, value:0},
	{x: 51, y:396, value:0},
	{x: 214, y:252, value:0},
	{x: 103, y:307, value:0},
	{x: 59, y:277, value:0},
	{x: 120, y:300, value:0},
	{x: 226, y:281, value:0},
	{x: 218, y:359, value:0},
	{x: 68, y:332, value:0},
	{x: 80, y:287, value:0},
	{x: 168, y:124, value:0},
	{x: 215, y:259, value:0},
	{x: 220, y:208, value:0},
	{x: 163, y:400, value:0},
	{x: 223, y:391, value:0},
	{x: 181, y:184, value:0},
	{x: 130, y:385, value:0},
	{x: 110, y:159, value:0},
	{x: 245, y:373, value:0},
	{x: 84, y:145, value:0},
	{x: 59, y:228, value:0},
	{x: 231, y:293, value:0},
	{x: 156, y:344, value:0},
	{x: 111, y:350, value:0},
	{x: 77, y:164, value:0},
	{x: 222, y:222, value:0},
	{x: 58, y:226, value:0},
	{x: 94, y:147, value:0},
	{x: 135, y:364, value:0},
	{x: 196, y:218, value:0},
	{x: 232, y:152, value:0},
	{x: 141, y:291, value:0},
	{x: 203, y:262, value:0},
	{x: 182, y:266, value:0},
	{x: 106, y:196, value:0},
	{x: 199, y:318, value:0},
	{x: 75, y:354, value:0},
	{x: 170, y:221, value:0},
	{x: 196, y:178, value:0},
	{x: 219, y:381, value:0},
	{x: 82, y:164, value:0},
	{x: 116, y:174, value:0},
	{x: 246, y:121, value:0},
	{x: 229, y:180, value:0},
	{x: 190, y:341, value:0},
	{x: 76, y:246, value:0},
	{x: 241, y:103, value:0},
	{x: 80, y:193, value:0},
	{x: 230, y:209, value:0},
	{x: 179, y:239, value:0},
	{x: 243, y:228, value:0},
	{x: 232, y:149, value:0},
	{x: 98, y:399, value:0},
	{x: 117, y:183, value:0},
	{x: 142, y:109, value:0},
	{x: 174, y:238, value:0},
	{x: 70, y:150, value:0},
	{x: 116, y:180, value:0},
	{x: 167, y:247, value:0},
	{x: 197, y:319, value:0},
	{x: 128, y:173, value:0},
	{x: 95, y:182, value:0},
	{x: 78, y:210, value:0},
	{x: 120, y:321, value:0},
	{x: 133, y:170, value:0},
	{x: 137, y:265, value:0},
	{x: 118, y:145, value:0},
	{x: 186, y:254, value:0},
  ]
};

heatmapInstance.setData(data);
    <% end %>
    <canvas id="strike-zone" height="500" width="300">
		<%= javascript_tag do %>
			var c = document.getElementById("strike-zone");
			var ctx = c.getContext("2d");
			ctx.beginPath();
			ctx.moveTo(100, 150);
			ctx.lineTo(200, 150);
			ctx.lineTo(200, 350);
			ctx.lineTo(100, 350);
			ctx.lineTo(100, 150);
			ctx.stroke();
		<% end %>
    </canvas>

</div>